@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fjalla_one';
    src: url('../fonts/fjallaone-regular.eot');
    src: url('../fonts/fjallaone-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fjallaone-regular.woff2') format('woff2'),
         url('../fonts/fjallaone-regular.woff') format('woff'),
         url('../fonts/fjallaone-regular.ttf') format('truetype'),
         url('../fonts/fjallaone-regular.svg#fjalla_one') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bree_serif';
    src: url('../fonts/breeserif-regular.eot');
    src: url('../fonts/breeserif-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeserif-regular.woff2') format('woff2'),
         url('../fonts/breeserif-regular.woff') format('woff'),
         url('../fonts/breeserif-regular.ttf') format('truetype'),
         url('../fonts/breeserif-regular.svg#bree_serif') format('svg');
    font-weight: normal;
    font-style: normal;
}