/*
    Theme Name: TechTop Cieplane
    Theme URI: https://flexithemes.com/techtop-wordpress-theme/
    Description: Free Technology WordPress theme by FlexiThemes
    Author: FlexiThemes
    Author URI: https://flexithemes.com
    Version: 1.1
    Tags: blue, white, two-columns, right-sidebar
Template: TechTop
*/

@import url('../TechTop/style.css');

.dark-primary-color   		{ background: #2c3e4f; } /* Dark Blue */
.default-primary-color 		{ background: #2980b9; } /* Light Blue */
.light-primary-color   		{ background: #3498db; } /* Extra Light Blue */
.secondary-primary-color   	{ background: #e54d42; } /* Dark Red */
/* White */
.text-primary-color    		{ color: #FFFFFF; }
/* Black and Gray */
.primary-text-color    		{ color: #212121; }
.secondary-text-color  		{ color: #727272; }
.divider-color         		{ border-color: #ECECEC; }
.ultralight            		{ background: #fafafa; }

/* INDEX:

    =GENERAL
    =LAYOUT
    =HEADER
    =MENUS
    =POST
    =WOOCOMMERCE
    =SITEMAP
    =CONTACT FORM
    =SLIDER
    =WP-PAGENAVI
    =FOOTER
    =WIDGETS
    =COMMENTS
    =RESPONSIVE
*/

/**
* GENERAL 
----------------------------*/

body {
    font-family: 'open_sans', Sans-serif !important;
    font-size: 13px;
}

#container:after, #header:after, #main:after, #main-fullwidth:after, #footer:after, .clearfix:after { 
    content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;
}

#container, #header, #main, #main-fullwidth, #footer, .clearfix { display:block; }

.clear {clear:both;}

/* Headings */

h1,h2,h3,h4,h5,h6 { 
    font-weight: normal;
    margin-bottom: 16px;
    line-height: 1;
}

h1 { font-size: 40px; }

h2 { font-size: 30px; }

h3 { font-size: 20px; }

h4 { font-size: 16px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0; }

/* Paragraps */

p { 
    margin:0 0 20px 0;
}

p, div { 
    text-align: justify;
    text-justify: inter-word;
}

/* Tables */

table { 
    margin-bottom: 20px;
    width:100%;
}

th { font-weight: bold; }
thead th { background: #ECECEC; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #fafafa; }
tfoot { font-style: italic; }
caption { background: #eee; }

/* Lists */

li ul, li ol { margin: 0; }
ul, ol { 
    margin: 0 20px 20px 0;
    padding-left: 40px;
}

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

dl { margin: 0 0 20px 0; }
dl dt { font-weight: bold; }
dd { margin-left: 20px;}

/* Misc */

blockquote  {   
    margin: 20px;
    color: #666;
    font-style: italic;
}

pre { 
    margin: 20px 0;
    white-space: pre;
}

pre,code,tt { 
    font: 13px 'andale mono', 'lucida console', monospace;
    line-height: 18px;
}

/**
* MNEUS 
----------------------------*/

.menus, .menus * {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    line-height: 1.0;
}

.menus ul {
    position: absolute;
    top: -999em;
    width: 100%;
}

.menus ul li {
    width: 100%;
}

.menus li:hover {
    visibility: inherit;
}

.menus li {
    float: left;
    position: relative;
}

.menus a {
    display: block;
    position: relative;
}

.menus li:hover ul,
.menus li.sfHover ul {
    left: 0;
    top: 100%; /* match top ul list item height */
    z-index: 99;
}

.menus li:hover li ul,
.menus li.sfHover li ul {
    top: -999em;
}

.menus li li:hover ul,
.menus li li.sfHover ul {
    left: 100%; /* match ul width */
    top: 0;
}

.menus li li:hover li ul,
.menus li li.sfHover li ul {
    top: -999em;
}

.menus li li li:hover ul,
.menus li li li.sfHover ul {
    left: 100%; /* match ul width */
    top: 0;
}


/* Shadows */

.sf-shadow ul {
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}

.menus .sf-shadow ul.sf-shadow-off {
    background: transparent;
}

/**
* Some Default and WP required styles.
-------------------------------------------------------------- */

blockquote {
    overflow: hidden;
    padding-left: 9px;
    font-style: italic;
    color: #666;
    border-left: 3px solid #ECECEC;
}

img.wp-smiley {
    max-height: 12px;
    margin: 0;
    padding: 0;
    border: none;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.wp-caption {
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    padding-top: 4px;
    margin: 10px;
    /* optional rounded corners for browsers that support it */
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}

.gallery-caption {
}

.sticky {
}

/**
* Add padding to images in the posts
----------------------------*/

.post img.alignleft {
    margin: 0 10px 10px 0;
}

.post img.alignright {
    margin: 0 0 10px 10px;
}

.post img.aligncenter {
    margin-bottom: 10px;
}

/**
* Wp Calendar
----------------------------*/

#wp-calendar {
    empty-cells: show;
    font-family: 'open_sans', Sans-serif !important;
    margin: 0;
    font-weight: normal;
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
}

#wp-calendar caption {
    padding: 4px 0;
    text-transform: uppercase;  
    margin: 2px 0 2px 0;
    text-align: left;
    background: none;
}

#wp-calendar th {
    font-style: normal;
    text-transform: capitalize;
    background: none;
}

#wp-calendar td {
    font-family: 'open_sans', Sans-serif !important;
    letter-spacing: normal;
    padding: 4px 0;
    text-align: center;
    background: none;
}

.error {
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: Red;
    padding: 8px;
    font-size: 12px;
    margin: 0 0 10px 0;
}

.message {
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: Green;
    padding: 8px;
    font-size: 12px;
    margin: 0 0 10px 0;
}

/* Some General Formattings ----------- */

embed,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

img {
    height: auto;
}

/* =GENERAL
-------------------------------------------------------------- */

body {
    background: url('../TechTop-cieplane/images/background.png') fixed;
    color: #555555;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover, a:focus {
    color: #3498db;
    text-decoration: none;
}

a:focus { 
    outline: none;
}

/* =LAYOUT
-------------------------------------------------------------- */

#container {
	width: 960px;
	margin: 15px auto 0 auto;
    background-color: #fff;
    -moz-box-shadow: 0 0 13px rgba(67,67,65,.1);
    -webkit-box-shadow: 0 0 13px rgba(67,67,65,.1);
    box-shadow: 0 0 13px rgba(67,67,65,.1);
}

#main {
	padding: 15px;
    background: #FFFFFF url('../TechTop-cieplane/images/main-bg.png') right top repeat-y;
    border-bottom: 3px double #ececec;
}

#main-fullwidth {
    padding: 15px;
    background: #fff;
}

#content {
    overflow: hidden;
    float: left;
    width: 615px;
}

#sidebar-primary {
    overflow: hidden;
	float: left;
    width: 285px;
    margin-left: 15px;
    padding-left: 15px;
}

/* =HEADER
-------------------------------------------------------------- */

#header {
    height: 60px;
    padding:20px 0;
}

.logo {
    float: left;
    margin-left: 15px;
}

.logo h1.site_title {
    margin: 0;
    padding:0;
    font-family: 'open_sans', Sans-serif !important;
    font-size:48px;
    line-height: 40px;
    font-weight: bold;
}

.logo h1.site_title a, .logo h1.site_title a:hover {
    color: #e54d42;
    text-decoration: none;
}

.logo h2.site_description {
    margin: 0;
    padding:0;
    color: #e54d42;
    font-family: 'open_sans', Sans-serif !important;
    font-size:14px;
    line-height: 14px;
}

.header-right {
    float: right;
    margin-right: 15px;
}

#top-social-profiles {
    padding-top: 10px;
    height: 32px;
    text-align: right;
    margin-right: 15px;

}
#top-social-profiles img {
    margin: 0 0 0 6px !important;
} 

#top-social-profiles img:hover {
    opacity: 0.8;
}
#top-social-profiles .widget-container {
  background: none;
  padding: 0;
  border: 0;
}

/* =MENUS
-------------------------------------------------------------- */

/* Menu Primary
----------------------------*/

.menu-primary-container {
    float: left;
    padding:0;
    position:relative;
    height: 34px;
    background: #FFFFFF;
    z-index: 400;
}

.menu-primary {
}

.menu-primary ul {
	min-width: 160px;
}

/* First Level - Menu Primary */

.menu-primary li a {
    color: #6F6F6F;
    padding: 11px 15px;
	text-decoration: none;
    font-family: 'fjalla_one', Sans-serif !important;
    font-size: 13px;
    text-transform: uppercase!important;
    font-weight: normal;
}

.menu-primary li a:hover, .menu-primary li a:active, .menu-primary li a:focus, 
.menu-primary li:hover > a, .menu-primary li.current-cat > a, .menu-primary li.current_page_item > a, .menu-primary li.current-menu-item > a {
    color: #e54d42;
    outline: 0;
    background: none;
}

/* Child Levels - Menu Primary */

.menu-primary li li a {
	color: #fff;
    text-transform: none;
    background: #e54d42;
    padding: 10px 15px;
    margin: 0;
    border: 0;
    font-weight: normal;
}

.menu-primary li li a:hover, .menu-primary li li a:active, .menu-primary li li a:focus,
.menu-primary li li:hover > a, .menu-primary li li.current-cat > a, .menu-primary li li.current_page_item > a, .menu-primary li li.current-menu-item > a {
	color: #fff;
    background: #2c3e4f;
    outline: 0;
    border-bottom:0;
    text-decoration: none;
}


/* Arrows Menu Primary */

.menu-primary a.sf-with-ul {
    padding-right: 20px;
    min-width: 1px;
}
.menu-primary  .sf-sub-indicator {
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    top:  0;
    padding: 10px 10px 0 0;
}

.menu-primary  li li .sf-sub-indicator {
    padding: 9px 10px 0 0;
}

/* Shadows Menu Primary */

.wrap-menu-primary .sf-shadow ul {
    //background:	url('../TechTop/images/menu-primary-shadow.png') no-repeat bottom right;
    background: none!important;
}

/* Menu Secondary
----------------------------*/

.menu-secondary-container {
    position:relative;
    height: 44px;
    z-index: 300;
    background: #e54d42;
}

.menu-secondary {}

.menu-secondary ul {
    min-width: 160px;
}

/* First Level - Menu Secondary */
.menu-secondary li a {
    color: #FFFFFF;
    padding: 15px 15px 15px 15px;
	text-decoration: none;
    font-family: 'fjalla_one', Sans-serif !important;
    font-size: 14px;
    text-transform: uppercase!important;
    font-weight: normal;
}

.menu-secondary li a:hover, .menu-secondary li a:active, .menu-secondary li a:focus, 
.menu-secondary li:hover > a, .menu-secondary li.current-cat > a, .menu-secondary li.current_page_item > a, .menu-secondary li.current-menu-item > a {
    color: #fff;
    background:#2c3e4f;
    outline: 0;
    transition: all 0.3s ease-in-out 0s;
}

/* Child Levels - Menu Secondary */

.menu-secondary li li a {
	color: #FFFFFF;
    background: #2c3e4f;
    padding: 10px 15px;
    text-transform: none;
    margin: 0;
    font-weight: normal;
}

.menu-secondary li li a:hover, .menu-secondary li li a:active, .menu-secondary li li a:focus, 
.menu-secondary li li:hover > a, .menu-secondary li li.current-cat > a, .menu-secondary li li.current_page_item > a, .menu-secondary li li.current-menu-item > a {
	color: #FFFFFF;
    background: #e54d42;
    outline: 0;
}

/* Arrows - Menu Secondary */

.menu-secondary a.sf-with-ul {
    padding-right: 26px;
    min-width: 1px;
}
.menu-secondary  .sf-sub-indicator {
    position: absolute;
    display: block;
    overflow: hidden;
    right: 0;
    top:  0;
    padding: 14px 13px 0 0;
}

.menu-secondary li li .sf-sub-indicator {

    padding: 9px 13px 0 0;
}

/* Shadows - Menu Secondary */

.wrap-menu-secondary .sf-shadow ul {
    background:	url('../TechTop/images/menu-secondary-shadow.png') no-repeat bottom right;
}

/* =POST
-------------------------------------------------------------- */

/* Post General
----------------------------*/

.post {
    margin-bottom: 15px;
}

.page, .post-single {
    border-bottom: 0;
    margin-bottom: 0;
}

.title {
    color: #333;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'bree_serif', Serif !important;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}

.title a {
    color: #333;
    text-decoration: none;
}

.title a:hover {
    color: #e54d42;
    text-decoration: none;
}

.entry {
    line-height: 20px;
}

.featured_image {
    padding: 6px;
    border: 1px solid #BDBDBD;
    background: #fff;
}

.page-title {
    color: #333;
    margin: 0px 0 10px 0;
    padding: 0 0 10px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'bree_serif', Serif !important;
    border-bottom: 3px double #ECECEC;
}

/* Post Metas
----------------------------*/

.postmeta-primary {
    color: #727272;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 10px 0;
}

.postmeta-secondary {
    color: #727272;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 10px 0;
}

.postmeta-primary span, .postmeta-secondary span {
    padding:3px 0 3px 20px;
    background-position:left center;
    background-repeat: no-repeat;
}

.meta_date {
    background-image:none;
}

.meta_date:before {
    font-family: FontAwesome;
    content: "\f073";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

.meta_author {
    background-image: none;
}

.meta_author:before {
    font-family: FontAwesome;
    content: "\f007";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

.meta_comments {
    background-image: none;
}

.meta_comments:before {
    font-family: FontAwesome;
    content: "\f086";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

.meta_edit {
    background-image: none;
}

.meta_edit:before {
    font-family: FontAwesome;
    content: "\f040";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

.meta_categories {
    background-image: none;
}

.meta_categories:before {
    font-family: FontAwesome;
    content: "\f07c";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

.meta_tags {
    background-image: none;
}

.meta_tags:before {
    font-family: FontAwesome;
    content: "\f02c";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

/* Read More
----------------------------*/

.readmore {
    margin-bottom: 15px;
    float: right;
}

.readmore a {
    color: #e54d42;
    background: #FFFFFF;
    padding: 8px 14px;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    border: 1px solid #ECECEC;
}

.readmore a:hover {
    color: #FFFFFF;
    background: #e54d42;
    text-decoration: none;
    border: 1px solid #fafafa;
}

/* =WOOCOMMERCE
-------------------------------------------------------------- */

.woocommerce .content, .woocommerce #main-fullwidth {
    background: #fff;
}

.variations .label {
    background-color:inherit;
    color: inherit;
    display: block !important;
    font-size: inherit;
    font-weight: inherit;
    line-height:inherit;
    text-shadow: none;
    vertical-align: inherit;
    white-space: inherit;
    padding: 8px 8px 8px 0 !important;
} 
.woocommerce input[type="text"], .woocommerce input[type="password"], .woocommerce input.text, .woocommerce input.title, .woocommerce textarea, .woocommerce select {
    margin: 0;  
    padding: 4px !important;
}

.quantity input[type="text"], .quantity input.text, .quantity input{
    margin: 0;  
    padding: 0 !important;
}

.woocommerce img {
    width: auto !important;
    height: auto !important;
}

/* =SITEMAP
-------------------------------------------------------------- */
.sitemap {
}

.sitemap-col {
    width: 30%;
    padding: 0 0 0 10px;
}

.sitemap-col-archives {
    width: 45%;
    padding: 0 0 0 10px;
}

.sitemap h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.sitemap h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
}

.sitemap-list {
    font-size: 13px;
    line-height: 22px;
}

.sitemap-list, .sitemap-list ul {
    padding: 0 0 0 20px;
}

/* =CONTACT FORM
-------------------------------------------------------------- */
.contact-form {
}

.contact-form-label {
    width: 90px;    
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
}

.contact-form-input {
    margin-left: 90px;    
}

.contact-form input[type=text] {
    padding: 6px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form input[type=submit] {
    padding: 5px 50px;
    border: 1px solid #ccc;
    background: #eee;
}
.contact-form textarea {
    width: 96%;
    padding: 6px;
    height: 160px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form-required {
    color: red;
}

/* =SLIDER
-------------------------------------------------------------- */

.fp-slider {
    margin: 0 0 15px 0;
}

.fp-slides-container {}

.fp-slides, .fp-thumbnail, .fp-prev-next, .fp-nav {
    width: 615px;
}

.fp-slides, .fp-thumbnail {
    height: 300px;
    overflow: hidden;
	position: relative;
}

.fp-title {
    font-family: 'bree_serif', Serif !important;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 2px 0;
    margin: 0;
}

.fp-title a, .fp-title a:hover {
    color: #fff;
    text-decoration: none;
}

.fp-content {
    position: absolute;
    overflow: hidden;
    padding: 10px 15px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2c3e4f;
    opacity: 0.7;
    filter: alpha(opacity = 70);    
}

.fp-content p {
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 18px;
}

.fp-more,  .fp-more:hover{
    color: #fff;
    font-weight: bold;
}

.fp-nav {
    height: 12px;
    text-align: center;
    padding: 10px 0;
    background: #2c3e4f;
}

.fp-pager a { 
    background-image: url(../TechTop/images/featured-pager.png); 
    cursor:pointer;  
    margin: 0 8px 0 0; 
    padding: 0;
    display: inline-block;
    width: 12px; 
    height: 12px;
    overflow: hidden;
    text-indent: -999px; 
    background-position: 0 0;
    float: none;
    line-height: 1;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

.fp-pager a:hover, .fp-pager a.activeSlide  { 
    text-decoration: none;
    background-position: 0 -112px;
    opacity: 1.0;
    filter: alpha(opacity = 100);
}

.fp-prev-next-wrap {
    position: relative; 
    z-index: 200; 
}

.fp-prev-next {
    text-align: center;
    position: absolute;
    bottom: 130px;
    left: 0;
    right: 0;
    height: 37px;  
}

.fp-prev {
    float:left;
    margin-left: 14px;
    width:36px;
    height:36px;
    background:none;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.fp-prev:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.fp-prev:before {
    font-family: FontAwesome;
    content: "\f0a8";
    font-size: 3em;
    color: #fafafa;
}

.fp-next {
    float:right;
	width:36px;
    height:36px;
    margin-right: 14px;
    background:none;
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.fp-next:hover {
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.fp-next:before {
    font-family: FontAwesome;
    content: "\f0a9";
    font-size: 3em;
    color: #fafafa;
}

/* =WP-PAGENAVI
-------------------------------------------------------------- */

.wp-pagenavi {
    float: left;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	padding: 5px 8px;
	margin: 2px;
    font-size: 15px;
    line-height: 15px;
    float: left;
}

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {
    color: #333333;
    background:none;
}

.wp-pagenavi span.current {
    font-weight: bold;
    color: #FFFFFF;
    background:#e54d42;
    border: 1px solid #ECECEC;
    padding: 4px 7px;
}

.wp-pagenavi a:hover {
    color: #e54d42;
    background:#FFFFFF;
    border: 1px solid #fafafa;
    padding: 4px 7px;
}

.wp-pagenavi span.pages {
    color: #333333;
    background: none;
    padding: 4px 8px 4px 0;
}

.wp-pagenavi span.extend {
    background:transparent;
    color: #333333;
    background: none;
}

/* =FOOTER
-------------------------------------------------------------- */

#footer {
}

#copyrights {
    color: #434141;
    background: #ECECEC;
    text-align: center;
    padding: 20px 0;
    border-top: 3px double #E4E4E4;
}

#copyrights a {
    color: #434141;
}

#copyrights a:hover {
    color: #434141;
    text-decoration: none;
} 

#credits {
    color: #7D7D7D;
    text-align: center;
    font-size: 11px;
    padding: 13px 0 11px 0;
    margin-bottom: -35px;
}

#credits a {
    color: #7D7D7D;
    text-decoration: none;
} 

#credits a:hover {
    text-decoration: none;
    color: #7D7D7D;
}

/* Footer Widgets
----------------------------*/

#footer-widgets {
    background: #fafafa;
    padding: 20px 0 0 0;
}

.footer-widget-box {
    width: 300px;
    float: left;
    margin-left: 15px;
}

.footer-widget-box-last {

}

/* Footer Widgets Color */

#footer-widgets .widget-container {

}

/* Footer Widgets Links */

#footer-widgets .widget-container a {

}

#footer-widgets .widget-container a:hover {

}

/* Footer Widget Title */

#footer-widgets .widgettitle {

}

#footer-widgets .widgettitle, #footer-widgets .widgettitle a, #footer-widgets .widgettitle a:hover {

}

/* Footer List Items */

#footer-widgets .widget ul li {

}

/* Footer Widgets Tabs */

#footer-widgets .tabs-widget li a {

}

#footer-widgets .tabs-widget li a:hover, #footer-widgets .tabs-widget li a.tabs-widget-current {

}

/* Footer Widgets Seaarch */

#footer-widgets #search {

}

#footer-widgets #search #s {

}


/* =WIDGETS
-------------------------------------------------------------- */

/* Widgets Defaults
----------------------------*/

.widget-container {
    list-style-type: none;
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    color: #2c3e4f;
    font-size: 13px;
}

.widget-container a {
    color: #2c3e4f;
    text-decoration: none;
}

.widget-container a:hover {
    color: #e54d42;
    text-decoration: none;
}

.widgettitle {
    background: #fafafa;
    margin: 0 0 10px 0;
    padding: 10px 10px 8px 10px;
    border-bottom: 3px double #ececec;
}

.widgettitle, .widgettitle a, .widgettitle a:hover {
    color: #e54d42;
    font-size: 16px;
    line-height: 16px;
    font-family: 'bree_serif', Serif !important;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.widget ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    padding: 0 0 9px 12px;
    margin: 0 0 8px 0;
    background: none!important;
    border-bottom: 1px solid #E8E8E8;
}

.widget ul li:before {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 1em;
    color: #e54d42;
    padding-right: 5px;
}

.widget ul li .children {
    padding-top: 17px;
}


/* Search
----------------------------*/

#search {
    border: 1px solid #fafafa;
    background: #fff url(../TechTop/images/search.png) 99% 50% no-repeat;
    text-align: left;
    padding: 6px 24px 6px 6px;
}

#search #s {
    background: none;
    color: #979797;
    border: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    outline: none;
}

#content-search {
    width: 300px;
    padding: 15px 0;
}

/* Wp Calendar
----------------------------*/

#wp-calendar td:hover, #wp-calendar #today {
    background: #2c3e4f;
    color: #fff;
}

#wp-calendar td:hover a, #wp-calendar #today a {
    color: #fff;
}

/* Text Widget
----------------------------*/

.textwidget {
    line-height: 18px;
}

/* 125x125 Banners Widget
----------------------------*/

.banners-125 {
    text-align: center;
    margin-bottom: -10px;
}

.banners-125 img {
    margin: 0 5px 5px 5px;
}


/* Posts Widget
----------------------------*/

.posts-widget ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.posts-widget ul li {
    list-style-type: none; 
    list-style: none;
    padding: 0 0 15px 0; 
    margin: 0 0 15px 0;
    border-bottom: 1px solid #E8E8E8;
}

.posts-widgettitle {
    font-weight: normal;
    padding: 0 0 5px 0; 
    margin: 0; 
    font-family: 'bree_serif', Serif !important;
    font-size: 14px;
}

.posts-widgettitle a {}

.posts-widgettitle a:hover {}

.posts-widget-meta { 
    font-style: italic;  
    padding: 0 0 5px 0;
}

.posts-widget-entry {
    font-family: 'open_sans', Sans-serif !important; 
    line-height: 20px;
}

.posts-widget-more {
    font-weight: bold;
}

.posts-widget-more:hover {}

.posts-widget-featured-image {
    border: 1px solid #fafafa;
    padding: 4px;
    background-color: #fff;
}

.posts-widget .alignleft {
    margin: 0 8px 8px 0;
}

.posts-widget .alignright {
    margin: 0 0 8px 8px;
}

.posts-widget .aligncenter {
    margin-bottom: 8px;
}

/* Comments Widget
----------------------------*/

.comments-widget ul {
    list-style-type: none;
    list-style: none;
    padding: 0; 
    margin: 10px 0 0 0;
}

.comments-widget ul li {
    list-style-type: none;
    list-style: none;
    padding: 0 0 10px 0; 
    margin: 0 0 10px 0;
    border-bottom: 1px solid #E8E8E8;
}

.comments-widget-author {
    text-decoration: none; 
    font-weight: bold; 
    padding: 0 0 5px 0; 
    margin: 0;
}

.comments-widget-author:hover {}

.comments-widget-entry {
    font-family: 'open_sans', Sans-serif !important; 
    line-height: 20px;
}

.comments-widget-more {
    font-weight: bold; 
}

.comments-widget-more:hover {}

.comments-widget-avatar {
    border: 1px solid #fafafa;
    padding: 4px;
    background-color: #fff;
}

.comments-widget .alignleft {
    margin: 0 8px 0 0;
}

.comments-widget .alignright {
    margin: 0 0 0 8px;
}

.comments-widget .aligncenter {
    margin-bottom: 8px;
}

/* Info Box Widget
----------------------------*/

.infobox-widget ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.infobox-widget ul li {
    list-style-type: none; 
    list-style: none;
    padding: 0; 
    margin: 5px 0 0 0;
}

.infobox-widget ul li a {
    text-decoration: none;
}

.infobox-widget-description {
    line-height: 20px;
}

.infobox-widget-more {
    font-weight: bold;    
}

.infobox-widget-more:hover {   
}


.infobox-widget .alignleft {
    margin: 0 10px 10px 0;
}

.infobox-widget .alignright {
    margin: 0 0 10px 10px;
}

.infobox-widget .aligncenter {
    margin-bottom: 10px;
}

.infobox-widget .inbottom {
    margin-top: 10px;
}

/* Social Profiles Widget
----------------------------*/
.social-profiles-widget img, .social-profiles-widget i {
    margin: 0 4px 0 0;
} 

.social-profiles-widget img:hover {
    opacity: 0.8;
} 

.social-profiles-widget a {
    font-size: 2.7em;
    opacity: 0.5;
}

.social-profiles-widget a:hover {
    font-size: 2.7em;
    opacity: 1;
}

.social-profiles-widget a[href*="twitter"] {
    color: #55ACEE;
}
.social-profiles-widget a[href*="facebook"] {
    color: #3B5998;
}
.social-profiles-widget a[href*="google"] {
    color: #E02F2F;
}
.social-profiles-widget a[href*="linkedin"] {
    color: #007BB5;
}
.social-profiles-widget a[href*="rss"] {
    color: #E17842;
}
.social-profiles-widget a[href*="email"] {
    color: #85C808;
}
.social-profiles-widget a[href*="youtube"] {
    color: #E02F2F;
}
.social-profiles-widget a[href*="pinterest"] {
    color: #CA2028;
}



/* Tabs Widget
----------------------------*/

.tabs-widget {
    list-style: none; 
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0; 
    height: 26px;
}

.tabs-widget li {
    list-style: none; 
    list-style-type: none; 
    margin: 0 0 0 4px; 
    padding: 0; 
    float: left;
}

.tabs-widget li:first-child {
    margin: 0;
}

.tabs-widget li a {
    color: #e54d42;
    background: #FFFFFF;
    padding: 6px 16px;
    font-family: 'open_sans', Sans-serif !important;
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #fafafa;
}

.tabs-widget li a:hover, .tabs-widget li a.tabs-widget-current {
    background: #e54d42;
    color: #FFFFFF;
    border: 1px solid #ECECEC;
}

.tabs-widget-content {
}

/* Tweets Widget
----------------------------*/

.tweets-widget ul {
    list-style-type: none; 
    list-style: none;
    margin: 0; 
    padding: 0; 
    line-height: 20px;
    font-family: 'open_sans', Sans-serif !important; 
}

.tweets-widget ul li {
    list-style-type: none;
    list-style: none;
    padding: 0; 
    margin: 15px 0 0 0; 
}

.tweets-widget ul li:first-child {
    margin-top: 5px;
}

.tweets-widget li.tweets-bird {
    padding-left: 24px;
    background: url(../TechTop/images/tweets.png) left 2px no-repeat;
}

.tweets-widget a {}

.tweets-widget a:hover {}

a.tweets-widget-time {
    text-decoration: underline; 
}

a.tweets-widget-time:hover {
    text-decoration: none; 
}

/* Facebook Widget
----------------------------*/

.facebook-widget {
    list-style-type: none; 
    list-style: none;
    margin: 0; 
    padding: 0;
}

/* =COMMENTS
-------------------------------------------------------------- */

#comments {
    margin-bottom: 15px;
}

#comments p {
    margin: 5px 0 10px 0;
}

h3#comments-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 15px 0;
}

.commentlist { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentlist li.comment {
    line-height: 24px;
    margin: 0 0 15px 0;
    padding: 0 0 0 0px;
    position: relative;
}

.commentlist li:last-child {
    border-bottom:none;
    margin-bottom:0;
}

#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 15px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 15px;
}

.commentlist .avatar {
    border: 3px solid #ffffff;
    margin-right: 10px; 
    width: 40px; 
    height: 40px; 
    vertical-align: middle;
    margin-bottom: 2px;
}

.comment-author {
    padding: 5px;
    display: block;
    background: #F2F2F2;
    border: 1px solid #DFDFDF;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.comment-author cite {
    font-style: normal;
    font-weight: bold;
}

.comment-author .says {
    font-style: italic;
}

.fn, .fn a:link, .fn a:hover, .fn a:visited {
    font-family: 'open_sans', Sans-serif !important;
    font-size: 16px; 
    font-style: normal; 
    font-weight: bold;
    text-decoration: none;
}

.comment-meta {
    margin: -23px 0 0 65px;
    display: block;
    font-size: 11px;
    padding:0;
}

.comment-meta a:link,
.comment-meta a:visited {
    text-decoration: none;
}
.commentlist .bypostauthor {
}
.reply {
    text-align: right;
    margin-bottom: 10px;
}
/*
.comment-reply-link  {
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    background: #EDEDED;
    color: #333;
    padding: 2px 8px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:  1px solid #727272;
}

.comment-reply-link:hover {
    background: #fafafa;
    color: #333;
}
*/

.commentlist .children {
    list-style: none;
    margin: 0;
}

/* Children */

.commentlist .children li {
    border: none;
    margin: 0;
}

.nocomments {
    display: none;
}

#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    font-size: 12px;
    line-height: 18px;
    display:block;
    margin: 0;
}

#comments .pingback .url {
    font-style: italic;
    font-size: 13px;
}

/* Comments form */

#respond {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

h3#reply-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0 0 15px 0;
}

#respond .required {
    color:#FF4B33;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    display: none;
}

.children #respond {
    margin: 0 48px 0 0;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

#respond .required {
    color:#FF4B33;
    font-weight:bold;
}

#respond label {
    font-size: 12px;
    font-weight: bold;
    text-align: left!important;
}

#respond input {
    margin:10px 0 0 0;
    width:98%;
}

#respond textarea {
    width:98%;
    margin:10px 0 0 0;
}

#respond .form-allowed-tags {
    font-size: 12px;
    line-height: 18px;
}

#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond input[type=submit] {
    margin: 0;
}

#respond .form-submit {
    margin: 0;
}

#respond .form-submit input {
    width: auto;
    font-size: 14px;
}
#respond dl {
    margin: 0 0 10px;
}

#respond dt {
    display: inline;
    font-weight: normal;
}

#respond dd {
    display: inline;
}


/* =RESPONSIVE
-------------------------------------------------------------- */

.menu-primary-responsive-container, .menu-secondary-responsive-container  {
    display: none;
    margin: 10px;
}

.menu-primary-responsive, .menu-secondary-responsive  {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}


/* Tablets ----------- */

@media only screen and (max-width: 768px) {
    
     #container, #footer-container {
    	width: 100%;
    }
    
    #main, 
    #main-fullwidth, 
    #header, 
    #footer-widgets,
    #footer {
        padding-left: 10px;
        padding-right: 10px;
    }
        
    #main, #main-fullwidth {
        background-image: none;
    }
    
    #header {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .logo, .header-right {
        float: none;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    .header-right {
        padding-top: 10px;
    }
    
    #topsearch {
        float: none;
        width: 96%;
        margin: 10px 2%;
    }
    
    #header #topsearch {
        margin-left: 0;
        margin-right: 0;
        width: 100%; 
    }
    
    #top-social-profiles {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    
    #content, #sidebar-primary, #sidebar-secondary {
    	width: 100%;
        float: none;
        padding: 0;
        margin: 0;
        display: block;
    }
    
    .menu-primary-container, .menu-secondary-container {
        float: none;
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
    
    .fp-slider, #fb-root {
        display: none;
    }

    .post-box {
        width: 100%;
        height: 100%;
        float: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    #footer-widgets-container #footer-widgets {
        width: inherit;
    }
    
    .footer-widget-box {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
    #copyrights, #credits {
        display: block;
        float: none;
        text-align: center;
    }
    
    #footer-container #copyrights, #footer-container #credits {
        padding: 5px 0;
    }
    
    #footer-container #footer {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

}

/* Mobile Phones ----------- */

@media only screen and (max-width: 480px) {
 
    .menu-primary-responsive-container, .menu-secondary-responsive-container {
        display: block;
    }
    
    .menu-primary-container, .menu-secondary-container {
        display: none;
    }
    
    #header .menu-primary-responsive-container, #header .menu-primary-responsive-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%; 
    }
}

/* =END
-------------------------------------------------------------- */